main {
    background-color: var(--background-color);
    font-size: 1.2rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
}

main > article {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    opacity: 0; /* Start hidden */
    transform: translateX(100%); /* Start off-screen to the right */
    animation: slideIn 0.5s ease-in-out forwards; /* Slide-in animation */
}

main > article.fade-out {
    animation: slideOut 0.5s ease-in-out forwards; /* Slide-out animation */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    to {
        opacity: 0;
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}
